@import '../../styles/variables.scss';

.photoField {
  margin: $photoFieldMargin;
  border-spacing: $padding;

  &__photoElement.main {
    background-color: $darkPurple;
    text-transform: uppercase;
    text-align: center;

    & > td {
      font-family: $boldFont;
      font-size: $loadingPopupFontSize;
      color: $white;
    }
  }

  &__photoElement {
    background-color: $lightPurple2;

    &__photo {
      border-radius: $photoElementBorderRadius 0 0 $photoElementBorderRadius;
      &__img {
        display: block;
        border-radius: inherit;
      }
    }

    &__owner {
      padding: $padding;
    }

    &__title {
      max-width: $MaxTitleWidth;
      padding: $padding;
      border-radius: 0 $photoElementBorderRadius $photoElementBorderRadius 0;
      word-wrap: break-word;
    }
  }
}
