@import '../../styles/variables.scss';

.searchSettingsForm {
  display: flex;
  flex-direction: column;
  margin-top: $settingsMargin;

  &__label__title,
  &__select,
  &__input,
  &__error {
    font-size: 14px;
  }

  &__label {
    display: flex;
    margin-top: $settingsMargin;

    &__title {
      width: $settingsTitleWidth;
      margin-right: $settingsMargin;
      text-align: end;
      text-transform: lowercase;
    }
  }

  &__select,
  &__input {
    background: transparent;
    border: solid 1px $lightGreen;
    border-radius: $searchBarBorderRadius;
    outline: none;
  }

  &__select {
    width: $settingsSelectWidth;
  }

  &__input {
    width: $settingsInputWidth;
    margin-right: $settingsMargin / 2;
    text-align: center;

    &.error {
      border-color: $error;
    }
  }

  &__error {
    color: $error;
  }
}
