@import '../../styles/variables.scss';

.searchForm {
  position: relative;
  display: flex;

  &__input {
    width: $searchBarWidth;
    height: $searchBarHeight;
    padding-left: $searchBarBorderRadius;
    background-color: $white;
    border: none;
    border-radius: $searchBarBorderRadius 0 0 $searchBarBorderRadius;
    font-family: 'Besley-Regular';
    font-size: 16px;
    outline: none;
  }

  &__crossBtn {
    position: absolute;
    left: $searchBarWidth - $submitBtnWidth;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $crossWidth;
    height: $crossHeight;
    background-color: $white;
    border: none;
    outline: none;

    &__icon {
      width: 60%;
      height: 60%;
      background-image: url('../../assets/icons/cross.svg');
      background-size: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $submitBtnWidth;
    height: $submitBtnHeight;
    background-color: $white;
    border: none;
    border-radius: 0 $searchBarBorderRadius $searchBarBorderRadius 0;
    outline: none;

    &__icon {
      width: 50%;
      height: 50%;
      background-image: url('../../assets/icons/search.svg');
      background-size: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
