@import './fonts.scss';
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: 'Roboto';
  font-size: 14px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.searchBar {
  &_wrapper {
    position: relative;
    margin: 0 auto;
  }

  &_icon {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/search.svg');
    background-size: 20px;
  }

  &_input {
    width: 250px;
    height: 30px;
    padding-left: 50px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    font-family: 'Roboto';
    font-size: 14px;
    color: #000;
    outline: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::placeholder {
      color: #000;
    }
  }
}

$cardWidth: 200px;
$cardBorderRadius: 10px;

.cardsField {
  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 50px;
  }

  &_card {
    max-width: $cardWidth;
    margin: 20px;
    background-color: #a9a9a9;
    border-radius: $cardBorderRadius;

    &_img {
      &_wrapper {
        position: relative;
        overflow: hidden;
        width: $cardWidth;
        height: 120px;
      }

      position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: $cardBorderRadius $cardBorderRadius 0 0;
      object-fit: cover;
    }

    &_info {
      max-width: 90%;
      margin: 5px auto;

      &_title {
        margin-bottom: 15px;
        font-weight: bold;
        color: #1c9993;
      }

      &_author {
        margin-bottom: 15px;
        color: #6e6d6d;

        .authorName {
          color: #1c9993;
        }
      }

      &_hr {
        height: 1px;
        background-color: #6e6d6d;
      }

      &_tegs {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;

        &_item {
          margin-right: 5px;
        }
      }
    }

    &_footer {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      background-color: #9c9c9c;
      border-radius: 0 0 $cardBorderRadius $cardBorderRadius;
      font-size: 12px;
      font-weight: bold;

      &_likes,
      &_views {
        display: flex;
        align-items: center;

        &_icon {
          width: 10px;
          height: 10px;
          margin-right: 3px;
          background-size: 10px;
        }
      }

      &_likes > &_likes_icon {
        background-image: url('../assets/icons/thumbUp.svg');
      }

      &_views > &_views_icon {
        background-image: url('../assets/icons/eye.svg');
      }
    }
  }
}
