@font-face {
  font-family: 'Besley-Regular';
  src: url('../assets/fonts/Besley-Regular.eot');
  src: local('☺'), url('../assets/fonts/Besley-Regular.woff') format('woff'),
    url('../assets/fonts/Besley-Regular.ttf') format('truetype'),
    url('../assets/fonts/Besley-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Besley-Bold';
  src: url('../assets/fonts/Besley-Bold.eot');
  src: local('☺'), url('../assets/fonts/Besley-Bold.woff') format('woff'),
    url('../assets/fonts/Besley-Bold.ttf') format('truetype'),
    url('../assets/fonts/Besley-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
