@import '../../styles/variables.scss';

.cardsField {
  &__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: $cardWidth;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #e2e1de;
    border-radius: $cardBorderRadius;

    &__item {
      &__title {
        margin: 0;
        font-size: $formFontSize + 2;
        font-weight: 800;
        color: #3f3e3e;
      }
      &__text {
        min-width: $cardWidth/2 - $cardPadding;
        margin: 0;
        margin-bottom: 5px;
        word-wrap: break-word;
      }
    }

    &__feedback > &__item &__item__text {
      min-height: 232px;
      margin: 0;
      padding: $cardPadding/3;
      background-color: #ffffff;
      border-radius: 5px;
    }
  }
}
