.cardsField_card_info {
  max-width: 90%;
  margin: 5px auto;

  &_title {
    margin-bottom: 15px;
    font-weight: bold;
    color: #1c9993;
  }

  &_author {
    margin-bottom: 15px;
    color: #6e6d6d;

    .authorName {
      color: #1c9993;
    }
  }

  &_hr {
    height: 1px;
    background-color: #6e6d6d;
  }

  &_tegs {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;

    &_item {
      margin-right: 5px;
    }
  }
}
